/* Z Index */
.z-1 {
    z-index: 2;
}
.z-2 {
    z-index: 4;
}
.z-3 {
    z-index: 6;
}
.z-4 {
    z-index: 8;
}
.z-5 {
    z-index: 10;
}
.z-full {
    z-index: 9999;
}
.z-0 {
    z-index: 0;
}
.z--1 {
    z-index: -2;
}
.z--2 {
    z-index: -4;
}
.z--3 {
    z-index: -6;
}
.z--4 {
    z-index: -8;
}
.z--5 {
    z-index: 1-0;
}
.z--full {
    z-index: -9999;
}

.hero-bg {
    width: unset;
    height: 100%;
}

.hero-bg2 {
    width: unset;
    height: 100%;
}

.category-card {
    width: 100%;
    aspect-ratio: 3/5;
    overflow: hidden;
}
.category-card div {
    bottom: 5%;
    width: 100%;
    padding: 0 5%;
}

.collections-card {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.collections-card div {
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0 5%;
}

.title-card {
    width: 100%;
    bottom: 5%;
}

.r-4\/1 {
    aspect-ratio: 4/1;
}
.r-2\/1 {
    aspect-ratio: 2/1 !important;
}

.glass {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.card {
    border-width: 0 !important;
}


@media (min-width: 768px) {
    .hero-bg {
        width: 100%;
        height: unset;
    }
    
}
@media (min-width: 576px) {
    .hero-bg2 {
        width: 100%;
        height: unset;
    }
    
}